<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
	<title>Mithril 0-60</title>
	  <style>
		  /* webpack doesn't seem to be able to handle svg backgrounds, so.... */
		  menu {
			  background-image: url("./images/mithril-logo.svg");
			  background-position: 1vw 1vw;
			  background-repeat: no-repeat;
			  background-size: 1vw 1vw;
		  }
	  </style>
  </head>
  <body>
  </body>
</html>