.dashboard 
	font-family: Optima, Helvetica, sans-serif
	font-weight: 100
	font-size: 16px


.fullscreen 
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh


.logo 
	width: 60px
	height: 40px
	//background: url('../../../images/blipLogo.svg')
	//font-family: "Times New Roman", serif
	//width: 40px
	//height: 40px
	//border-radius: 50%
	//margin-right: 20px


menu 
	width: 20%
	min-width: 240px
	
button
	background: none
	border: 0
	color: inherit
	cursor: pointer
	
	&:disabled
		opacity: 0.25
		cursor: default


.dashboard * 
	box-sizing: border-box


/* background colors */
.bg-dark 
	background: #222629

.bg-brick 
	background: #cf2f20

.bg-grey 
	background: #6b6e70

.bg-light 
	background: #eeeeee

.bg-white 
	background: white


/* text colors */
.c-dark 
	color: #222

.c-light 
	color: #999999

.c-white 
	color: white


/* margins */
.m0 
	margin: 0

.mra 
	margin-right: auto

.mla 
	margin-left: auto

.ml10 
	margin-left: 0.625em

.mr10 
	margin-right: 0.625em

.mt20 
	margin-top: 1.25em

.mb20 
	margin-bottom: 1.25em

.ml20 
	margin-left: 1.25em

.mr20 
	margin-right: 1.25em

.mb6 
	margin-bottom: 0.375em

.mb20 
	margin-bottom: 1.25em



/* padding */
.p0 
	padding: 0

.p6 
	padding: 0.375em

.p10 
	padding: 0.625em

.p40 
	padding: 2.5em

.p20 
	padding: 1.25em

.pt10 
	padding-top: 0.625em

.pb10 
	padding-bottom: 0.625em

.pl10 
	padding-left: 0.625em

.pr10 
	padding-right: 0.625em

.pv10 
	padding-top: 0.625em 
	padding-bottom: 0.625em

.ph10 
	padding-left: 0.625em
	padding-right: 0.625em

.pv16 
	padding-top: 1em
	padding-bottom: 1em

.pt20 
	padding-top: 1.25em

.pb20 
	padding-bottom: 1.25em

.pl20 
	padding-left: 1.25em

.pr20 
	padding-right: 1.25em

.pv20 
	padding-top: 1.25em
	padding-bottom: 1.25em

.ph20 
	padding-left: 1.25em
	padding-right: 1.25em


/* flex rules */
.flex 
	display: flex

.col 
	flex-direction: column

.jc 
	justify-content: center

.ac 
	align-items: center

.f1 
	flex: 1

.f2 
	flex: 2


/* font */
.font-12 
	font-size: 0.75em

.font-16 
	font-size: 1em

.font-18 
	font-size: 1.125em

.font-24 
	font-size: 1.5em


/* headings */
h1 
	font-weight: inherit 
	margin: 0

h3 
	margin: 0


/* height */
.h50 
	height: 3.125em

.h60 
	height: 3.75em



/* width */
.w100pct 
	width: 100%


/* overflow */
.oya 
	overflow-y: auto


/* borders */
.b0 
	border: 0

.b1-black 
	border: 1px solid black

.br1-black 
	border-right: 1px solid black

.brad4 
	border-radius: 0.25em

	
	
	
.pointer
	cursor: pointer
	
.nowrap
	white-space: nowrap

.edit-button 
	transform: scaleX(-1)

.list-item + * 
	margin-top: 1px
















//@import '../../../includes'
//
//.dashboard
//	@include full-screen
//	font-family: "Helvetica Neue", Helvetica, sans-serif
//	display: flex
//	flex-direction: column
//	justify-content: flex-start
//
//	header
//		padding: 20px
//		background: $deep-grey
//		color: white
//		font-size: 36px
//		display: flex
//		justify-content: space-between
//		align-items: center
//			
//		.logo
//			font-family: "Times New Roman", Times, serif
//			font-size: 36px
//			display: flex
//			justify-content: center
//			align-items: center
//			color: $deep-grey
//			background: white
//			padding: 4px
//			width: 40px
//			height: 40px
//			border-radius: 50%
//			user-select: none
//			cursor: pointer
//			
//		.announcement
//			margin-left: 30px
//			margin-right: auto
//
//	.editor-button
//		margin: 0 6px
//		padding: 4px 12px
//		font-size: 12px
//		color: white
//		background: $deep-grey
//		border-radius: 6px
//		
//		&.reverse
//			color: $deep-grey
//			background: white
//
//		&:disabled
//			opacity: 0.15
//			cursor: default
//			
//	.main
//		display: flex
//		padding: 0
//		justify-content: flex-start
//		
//	.menu
//		width: 20%
//		border-right: 1px solid black
//		cursor: pointer
//		background: #eeeeee
//		
//	.menu-header
//		width: 100%
//		padding: 10px
//		background: #222222
//		color: white
//		font-weight: 600
//		display: flex
//		justify-content: space-between
//		align-items: center
//		
//		button
//			color: white
//			font-size: 1.5em
//		
//	.item
//		position: relative
//		padding: 10px
//		display: flex
//		justify-content: space-between
//		align-items: center
//		
//		input
//			width: 100%
//			font-size: 18px
//			
//		i.hint
//			font-size: 12px
//			color: #666666
//		
//		&.editing
//			display: block
//		
//		.text
//			margin-right: auto
//			
//		.button-wrapper
//			white-space: nowrap
//
//			button
//				margin-left: 10px
//				color: #cccccc
//				transition: 0.3s
//				
//				&:hover
//					color: #999999
//				
//		.delete
//			font-size: 2em
//		
//		.edit
//			font-size: 1.5em
//			transform: scaleX(-1)
//
//	.editor
//		padding: 50px
//		
//
//	.no-content
//		flex: 2
//		display: flex
//		justify-content: center
//		align-items: center