$header-height: 5vw
$menu-width: $header-height * 4

$light-green: #00ff00
$medium-green: #61892f
$light-grey: #6b6e70
$medium-grey: #4d4d53
$deep-grey: #34343a


@mixin menu-item($padding-left: 0.5vw)
	position: relative
	padding: 0.5vw 0.5vw 0.5vw $padding-left
	border: 1px solid white
	margin: 0.5vw 0 0 0
	cursor: default
	border-radius: 2px
	width: 100%
	transition: 0.3s
	color: white

	&:hover, &.current
		padding-bottom: 3vw
		
	&.current
		background: white
		color: $deep-grey

	//&.current
	//	background: $light-green
	//	border-color: $light-green
	//	color: $deep-grey
	//	cursor: default
	//
	//	&:hover
	//		background: $light-green
	//		border-color: $light-green
	//		color: $deep-grey
