//$full-menu-width: 25vw
//$outer-menu-width: calc(#{$full-menu-width} + 20px)
//$inner-menu-width: calc(#{$full-menu-width} - 8vw)
//
//
//
$light-green: #00c979
//$light-green: #00ff00
$medium-green: #61892f
$light-grey: #abaeb0
$medium-grey: #5d5d5f
//$deep-grey: #34343a
$deep-grey: #222d32
//
//
//
//@mixin menu-item($padding-left: 0.5vw)
//	margin-bottom: 0.5vw
//	border: 1px solid $deep-grey
//	border-radius: 4px
//	background: white
//	color: $deep-grey
//		
