@import "includes"

*, button, input, textarea, menu, nav
	box-sizing: border-box
	margin: 0
	padding: 0

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	margin: 0
	background: $deep-grey
	color: white

h1, h2, h3, h4, h5, h6, p, ul, li
	margin: 0
	padding: 0
	
h1
	font-size: 3vw
	font-weight: 100
	color: $light-green
	
main
	position: relative
	margin: 0
	padding: 0
	width: 100vw
	height: 100vh
	overflow: hidden
	
header
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: $header-height
	line-height: $header-height
	text-align: center
	z-index: 3

.burger
	position: fixed
	top: 1.5vw
	left: 1.5vw
	@include burger(1vw)
	
.wrapper
	position: relative
	width: 100%
	height: 100%

section
	position: relative
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow: hidden

menu, .content
	position: absolute
	top: 0
	height: 100%

menu
	padding-top: $header-height
	left: -$menu-width
	width: $menu-width
	background: $medium-grey

.menu-item
	margin: 0.25vw 1vw
	padding: 1vw
	border: 1px solid $light-grey
	border-radius: 2px
	cursor: pointer
	transition: 0.3s

	&:hover
		background: $light-grey
		color: $deep-grey

.content
	position: relative
	left: 0
	width: 100%
	padding-top: $header-height

header, section, menu, .content, .burger
	transition: 0.3s

.open
	header, .content
		left: $menu-width
		width: calc(100% - #{$menu-width}) !important
		max-width: calc(100% - #{$menu-width}) !important

	menu
		left: 0
		
	.burger
		transform: scaleX(-1)
		left: 18vw

.exercise
	.screencast
		top: -5vh
		
	.flems
		background: $medium-green
		top: -100vh

video
	@include pureCenter
	width: 100%
	max-width: 100%
	height: auto
	max-height: 80%
	transition: 0.3s

iframe
	width: 100%
	height: 100%
	background: white