@import "includes"

*, html, body, main, button, input, textarea, menu, nav
	box-sizing: border-box
	margin: 0
	padding: 0
	outline: none

html, body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	background: white
	color: $deep-grey

header
	position: relative
	font-size: 3vw
	z-index: 1
	text-align: center
	font-family: "Times New Roman", serif
	font-style: italic
	
h1, h2, h3, h4, h5, h6, p, ul, li
	margin: 0
	padding: 0

h1
	font-size: 3vw
	font-weight: 100
	color: $deep-grey

h2
	font-size: 2vw
	font-weight: 200
	
h3
	font-size: 1.5vw
	font-weight: 400
	text-transform: uppercase
	
h4
	font-size: 1.25vw
	font-weight: 200
	
h5
	font-size: 1vw
	font-weight: 400
	text-transform: uppercase
	color: white
	margin-bottom: 1vw
	
.left
	text-align: left
	
.center
	text-align: center
	
.right
	text-align: right
	
.bold
	font-weight: 700
	
main
	position: relative
	width: 100vw
	height: 100vh
	overflow: hidden

menu 
	position: absolute
	top: 0
	left: -25vw
	height: 100vh
	width: calc(25vw + 20px)
	transition: left 0.3s
	background-color: $deep-grey
	padding: 2vw calc(20px + 1.5vw) 2vw 2vw

.chapter
	@include menu-item
	
	& > div
		display: flex
		
	.chapter-num
		width: 8%
		text-align: right
		
	.chapter-name
		margin-left: auto
		width: 90%
	
.example
	@include menu-item
	margin-left: 1.5vw
	
button.expander
	position: absolute
	cursor: pointer
	background: #222
	transition: 0.6s
	z-index: 1
	
	&.first-run
		animation: attention 2s infinite

@keyframes attention
	0%, 100%
		background-color: $deep-grey
		box-shadow: 0 0 0 0 transparent

	50%
		background-color: $light-green
		box-shadow: 0 0 20px 10px $light-green

		
.show-menu
	top: 0
	right: 0
	width: 20px
	height: 100%
	border: 0
	//border-right: 1px solid $deep-grey
	//border-left: 1px solid $deep-grey


	&:after
		content: ''
		position: absolute
		top: 50%
		left: 25%
		width: 12px
		height: 12px
		border-top: 2px solid white
		border-right: 2px solid white
		transform: translate(-50%, -50%) rotateZ(45deg)
		
.wrapper
	position: absolute
	top: 0
	left: 20px
	width: calc(100vw - 20px)
	height: 200vh
	transition: 0.3s
	overflow: hidden
	
section
	position: relative
	width: 100%
	height: 50%
	overflow: hidden
	transition: height 0.3s
	
.show-lab
	bottom: 0
	left: 0
	width: 100%
	height: 20px
	border: 0
	//border-top: 1px solid $deep-grey

	&:after
		content: ''
		position: absolute
		top: 75%
		left: 50%
		width: 12px
		height: 12px
		border-top: 2px solid white
		border-left: 2px solid white
		transform: translate(-50%, -50%) rotateZ(45deg)

.menuOpen
	menu
		left: 0

	.show-menu
		transform: scaleX(-1)
		
	.wrapper
		width: calc(75vw - 20px)
		left: calc(25vw + 20px)

.labOpen
	.wrapper
		top: calc(-100% + 20px)
		
	.show-lab
		transform: scaleY(-1)
	
.lab > div
	position: absolute
	top: 0
	height: 100%
	
.resources
	left: 0
	width: 30%
	padding: 3vw
	background: $medium-grey
	overflow: auto
	color: white
	
	h4 + h4
		margin-top: 1vw
		
	i
		font-size: 0.8em
	
code
	display: inline-block
	margin: 0 0.5vw
	padding: 0 0.5vw
	background: $deep-grey
	color: $light-green
	font-size: 1vw
	
ul
	margin-top: 2vw
	
li
	margin: 1vw
	font-size: 1vw
	
.links a
	color: white
	
.flems
	left: 30%
	width: 70%
	background: white

	iframe
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: calc(100% - 20px)
		border: 0
		
.sandboxes h4
	@include menu-item	

	
#welcome
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	padding: 10vw
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	background: white
		
.logo
	font-family: "Times New Roman", serif
	font-size: 8vw
	white-space: nowrap

.enter 
	animation: fade-in 1s forwards

@keyframes fade-in
	from 
		opacity: 0
		
	to
		opacity: 1

.exit 
	animation: fade-out 1s forwards

@keyframes fade-out 
	from
		opacity: 1

	to
		opacity: 0



#videoContainer
	position: relative
	width: 100%
	max-width: 100%
	height: calc(100% - 3vw - 40px)
	opacity: 0

	iframe, object, embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
