html, body
	font-family: Optima, Helvetica, sans-serif
	margin: 0
	padding: 0

.dashboard
	font-weight: 100
	font-size: 16px


.fullscreen
	width: 100vw
	height: 100vh
	
.full-main
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%


.blip-logo
	width: 60px
	height: 40px


.admin-menu
	width: 20%
	min-width: 240px

button
	background: none
	border: 0
	color: inherit
	cursor: pointer

	&:disabled
		opacity: 0.25
		cursor: default


*
	box-sizing: border-box
$dark: #222629
$brick: #cf2f20
$green: #00c979
$grey: #6b6e70
$light-grey: #abaeb0

/* background colors */
.bg-dark
	background: $dark

.bg-brick
	background: $brick

.bg-green
	background: $green

.bg-grey
	background: $grey

.bg-light
	background: $light-grey

.bg-white
	background: white


/* text colors */
.c-dark
	color: $dark

.c-brick
	color: $brick

.c-green
	color: $green

.c-grey
	color: $grey

.c-light
	color: $light-grey

.c-white
	color: white



/* borders */
.b0
	border: 0

.b1-grey
	border: 1px solid $grey

.br1-grey
	border-right: 1px solid $grey

.bb1-grey
	border-bottom: 1px solid $grey

.b1-dark
	border: 1px solid $dark

.br1-dark
	border-right: 1px solid $dark

.bb1-dark
	border-bottom: 1px solid $dark

.br0
	border-right: 0

.brad4
	border-radius: 0.25em

.brad4-l
	border-top-left-radius: 0.25em
	border-bottom-left-radius: 0.25em

.brad4-r
	border-top-right-radius: 0.25em
	border-bottom-right-radius: 0.25em

.brad6
	border-radius: 0.375em

.brad6-l
	border-top-left-radius: 0.375em
	border-bottom-left-radius: 0.375em

.brad6-r
	border-top-right-radius: 0.375em
	border-bottom-right-radius: 0.375em

.brad6-t
	border-top-left-radius: 0.375em
	border-top-right-radius: 0.375em

.brad6-b
	border-bottom-left-radius: 0.375em
	border-bottom-right-radius: 0.375em


/* margins */
.m0
	margin: 0

.mra
	margin-right: auto

.mla
	margin-left: auto

.ml10
	margin-left: 0.625em

.mr10
	margin-right: 0.625em

.mt10
	margin-top: 0.625em

.mt20
	margin-top: 1.25em

.mt40
	margin-top: 2.5em

.mt60
	margin-top: 3.75em

.mb20
	margin-bottom: 1.25em

.ml20
	margin-left: 1.25em

.mr20
	margin-right: 1.25em

.mb6
	margin-bottom: 0.375em

.mb20
	margin-bottom: 1.25em



/* padding */
.p0
	padding: 0

.p6
	padding: 0.375em

.p10
	padding: 0.625em

.p40
	padding: 2.5em

.p20
	padding: 1.25em

.pt10
	padding-top: 0.625em

.pb10
	padding-bottom: 0.625em

.pl10
	padding-left: 0.625em

.pr10
	padding-right: 0.625em

.pv10
	padding-top: 0.625em
	padding-bottom: 0.625em

.ph10
	padding-left: 0.625em
	padding-right: 0.625em

.pv16
	padding-top: 1em
	padding-bottom: 1em

.pt20
	padding-top: 1.25em

.pb20
	padding-bottom: 1.25em

.pl20
	padding-left: 1.25em

.pr20
	padding-right: 1.25em

.pv20
	padding-top: 1.25em
	padding-bottom: 1.25em

.ph20
	padding-left: 1.25em
	padding-right: 1.25em
	
.pt40
	padding-top: 2.5em



/* flex rules */
.flex
	display: flex

.fw
	flex-wrap: wrap

.col
	flex-direction: column

.jc
	justify-content: center

.ac
	align-items: center

.f1
	flex: 1

.f2
	flex: 2

.f3
	flex: 3


/* font */
.font-12
	font-size: 0.75em

.font-16
	font-size: 1em

.font-18
	font-size: 1.125em

.font-24
	font-size: 1.5em


/* headings */
h1
	font-weight: inherit
	margin: 0

h3
	margin: 0


/* height */
.h40
	height: 2.5em

.h50
	height: 3.125em

.h60
	height: 3.75em


/* position */
.absolute
	position: absolute

.fixed
	position: fixed
	
.relative
	position: relative

	
	
/* width */
.w100pct
	width: 100%

.w50
	width: 3.125em

.w60
	width: 3.75em


/* overflow */
.oya
	overflow-y: auto

.oh
	overflow: hidden



/* randoms */
.pointer
	cursor: pointer

.tx-deco-none
	text-decoration: none

.nowrap
	white-space: nowrap

.edit-button
	transform: scaleX(-1)

.list-item + *
	margin-top: 1px
	
.slider
	bottom: 0

	&:before
		content: 'blipblipBOOM.com'
		position: absolute
		top: 50%
		right: 10px
		color: $grey
		font-family: Optima, Helvetica, sans-serif
		font-style: italic
		font-size: 12px
		transform: translateY(-50%)

	&:after
		content: ''
		position:
		display: block
		width: 1.25em
		height: 1.25em
		margin-top: 1em
		border-left: 2px solid $green
		border-top: 2px solid $green
		border-right: 2px solid $dark
		border-bottom: 2px solid $dark
		border-radius: 2px
		background: transparent
		transform: rotate(45deg) scale(1)
		transition: 0.7s

#lecture
	transition: 0.3s
	
// things that I can't control easily otherwise

$open-menu-width: 18.75em
$closed-menu-width: 3.75em

main
	position: fixed
	top: 0
	right: 0
	height: 100vh
	transition: width 0.3s

menu
	height: 100vh
	width: $open-menu-width
	transition: transform 0.3s
	box-shadow: 1px 1px 2px 0 $dark

.menu-item-title
	transition: all 0.3s



.menu-open
	.menu-item-title
		opacity: 1

	main
		width: calc(100vw - #{$open-menu-width}) 

.menu-closed
	menu
		transform: translateX(-15em)

	.menu-item-title
		opacity: 0

	.menu-button
		box-shadow: inset 0 0 5px 0 transparent

		.inner
			opacity: 1
			top: 50%
			transform: translateY(-50%)

		&:before, &:after
			transform: rotate(0deg)

		&:before
			top: 15px

		&:after
			bottom: 15px

	main
		width: calc(100vw - #{$closed-menu-width})

.sandbox-open
	#lecture
		transform: translateY(calc(-100vh + 40px))
		
	.slider:after
		transform: rotate(45deg) scale(-1)
		margin-top: -0.75em


.video-button, .code-button
	transition: background 0.3s

.video-button
	&:before
		content: ''
		width: 16px
		height: 16px
		background: $light-grey
		padding: 0
		border-radius: 4px
		margin-right: -1px

	&:after
		content: ''
		width: 0
		height: 0
		border-style: solid
		border-width: 8px 8px 8px 0
		border-color: transparent $light-grey transparent transparent
		margin-left: -2px

.video-button.on
	&:before
		background: $green

	&:after
		border-color: transparent $green transparent transparent


.menu-button
	position: absolute
	top: 10px
	right: 10px
	width: 40px
	height: 40px
	box-shadow: inset 0 0 5px 0 $grey
	border-radius: 50%
	transition: 0.3s

	.inner, &:before, &:after
		position: absolute
		left: 20%
		width: 60%
		height: 2px
		border-radius: 3px
		background: $dark
		transition: 0.3s

	.inner
		opacity: 0

	&:before, &:after
		content: ''

	&:before
		top: calc(50% - 1px)
		transform: rotate(45deg)

	&:after
		bottom: calc(50% - 1px)
		transform: rotate(-45deg)

.tooltip
	position: fixed
	padding: 8px
	background: white
	color: $dark
	border-radius: 4px
	transform: translateY(-50%)
	display: flex
	align-items: center
	white-space: nowrap
	box-shadow: 0 2px 5px 0 black

	&:before
		content: ''
		display: block
		position: absolute
		top: 50%
		left: -5px
		transform: translateY(-50%)
		width: 0
		height: 0
		border-style: solid
		border-width: 5px 10px 5px 0
		border-color: transparent white transparent transparent


//@import './includes'
//
//$slider-height: 40px
//
//*, button, input, textarea
//	box-sizing: border-box
//	//font-family: "Helvetica Neue", Helvetica, sans-serif
//	font-weight: 300
//
//*
//	margin: 0
//	padding: 0
//
//button
//	background: none
//	outline: none
//	border: 0
//	cursor: pointer
//
//body
//	position: fixed
//	top: 0
//	left: 0
//	width: 100vw
//	height: 100vh
//	overflow: hidden
//	display: flex
//
//.animator
//	transition: 0.2s
//
//menu
//	position: relative
//	background: white
//	padding: 70px 5px 0
//	color: white
//	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4)
//
//	.site-logo
//		position: absolute !important
//		color: $deep-grey
//		top: 16px
//		left: 10px
//		opacity: 1
//		transition: 0.2s
//
//.menu-button
//	position: absolute
//	top: 10px
//	right: 10px
//	width: 40px
//	height: 40px
//	box-shadow: inset 0 0 5px 0 #999999
//	border-radius: 50%
//	transition: 0.3s
//
//	.inner, &:before, &:after
//		position: absolute
//		left: 20%
//		width: 60%
//		height: 2px
//		border-radius: 3px
//		background: $deep-grey
//		transition: 0.3s
//
//	.inner
//		opacity: 0
//
//	&:before, &:after
//		content: ''
//
//	&:before
//		top: calc(50% - 1px)
//		transform: rotate(45deg)
//
//	&:after
//		bottom: calc(50% - 1px)
//		transform: rotate(-45deg)
//
//nav
//	height: 100%
//	overflow-y: auto
//	padding-bottom: 10px
//
//.menu-item
//	box-sizing: border-box
//	position: relative
//	display: inline-block
//	padding: 10px
//	width: 100%
//	height: 80px
//	background: white
//	color: #222
//	border: 1px solid $deep-grey
//	border-radius: 4px
//	overflow: hidden
//	cursor: pointer
//
//	& + .menu-item
//		margin-top: 0.5em
//
//
//	&.current, a.current
//		background: $deep-grey
//		color: $light-green
//
//		&:before
//			background: $light-green
//
//		&:after
//			border-right-color: $light-green
//
//	a
//		display: flex
//		justify-content: center
//		align-items: center
//		text-decoration: none
//		position: relative
//		width: 100%
//		height: 39px
//		margin: 0
//		background: white
//		
//
//.menu-item-title
//	position: relative
//	width: 220px
//	top: 50%
//	transform: translateY(-50%)
//
//.menu-item-buttons-wrapper
//	position: absolute
//	top: 0
//	right: 0
//	width: 50px
//	height: auto
//	border-left: 1px solid transparent
//
//	a:hover
//		background: #dddddd
//
//	a.current:hover
//		background: inherit
//
//main
//	position: fixed
//	top: 0
//	height: 100vh
//
//.menu-closed
//	menu
//		width: 60px
//
//	main
//		left: 60px
//		width: calc(100% - 60px)
//
//	.menu-button
//		box-shadow: inset 0 0 5px 0 transparent
//
//		.inner
//			opacity: 1
//			top: 50%
//			transform: translateY(-50%)
//
//		&:before, &:after
//			transform: rotate(0deg)
//
//		&:before
//			top: 15px
//
//		&:after
//			bottom: 15px
//		
//	.menu-item-title
//		opacity: 0
//
//	.site-logo
//		left: -300px
//
//.menu-open
//	menu
//		width: 300px
//
//	main
//		left: 300px
//		width: calc(100% - 300px)
//
//	.menu-item-title
//		opacity: 1
//
//	.menu-item-buttons-wrapper
//		border-left: 1px solid black
//
//	.current .video-button
//		border-top-left-radius: 0
//
//	.current .code-button
//		border-bottom-left-radius: 0
//
//.sandbox-closed
//	.theater
//		top: 0
//
//	.slider
//		top: calc(100vh - #{$slider-height})
//
//.sandbox-open
//	.theater
//		top: calc(-100vh + #{$slider-height})
//
//	.slider
//		top: 0
//
//		&:before
//			transform: translateY(-6px) rotate(45deg) scale(-1)
//
//.screen
//	position: absolute
//	width: 100%
//	height: calc(100vh - #{$slider-height})
//	background: $deep-grey
//	
//.sandbox
//	top: $slider-height
//	display: flex
//	
//.practicum
//	width: 400px
//	//padding: 20px
//	color: white
//	overflow-y: auto
//	
//	.notes
//		font-size: 16px
//		line-height: 16px
//	//	
//	//.resources
//	//	padding: 20px
//	//
//	//h5
//	//	font-size: 22px
//	//	line-height: 26px
//	//	border-bottom: 1px solid white
//	//	margin-bottom: 10px
//		
//	ul
//		padding: 40px
//	
//.flems
//	position: relative
//	width: calc(100% - 400px)
//	height: 100%
//	background: white
//	
//	iframe
//		position: absolute
//		width: 100%
//		height: 100%
//		border: 0
//
//.slider
//	position: absolute
//	display: flex
//	justify-content: center
//	align-items: center
//	height: $slider-height
//	width: 100%
//	background: black
//	border: 0
//	color: white
//
//	&:before
//		content: ''
//		display: inline-block
//		width: 20px
//		height: 20px
//		border-left: 2px solid $light-green
//		border-top: 2px solid $light-green
//		transform-origin: center center
//		transform: translateY(10px) rotate(45deg)
//
//.video-button
//	position: relative
//	border-top-left-radius: 4px
//	border-top-right-radius: 4px
//
//	&:before, &:after
//		position: relative
//		display: inline-block
//		margin-top: 3px
//
//	&:before
//		content: ''
//		width: 16px
//		height: 16px
//		background: $light-grey
//		padding: 0
//		border-radius: 4px
//		margin-right: -1px
//
//	&:after
//		content: ''
//		width: 0
//		height: 0
//		border-style: solid
//		border-width: 8px 8px 8px 0
//		border-color: transparent $light-grey transparent transparent
//		margin-left: -2px
//
//.code-button
//	border-top: 1px solid black
//	color: $medium-grey
//	border-bottom-left-radius: 4px
//	border-bottom-right-radius: 4px
//
//.tooltip
//	position: fixed
//	padding: 8px
//	background: white
//	color: $deep-grey
//	border-radius: 4px
//	transform: translateY(-50%)
//	display: flex
//	align-items: center
//	white-space: nowrap
//	box-shadow: 0 2px 5px 0 black
//
//	&:before
//		content: ''
//		display: block
//		position: absolute
//		top: 50%
//		left: -5px
//		transform: translateY(-50%)
//		width: 0
//		height: 0
//		border-style: solid
//		border-width: 5px 10px 5px 0
//		border-color: transparent white transparent transparent
//
//#welcome
//	position: absolute
//	top: 0
//	left: 0
//	width: 100%
//	height: 100%
//	display: flex
//	justify-content: center
//	align-items: center
//	background: $deep-grey
//	color: white
//		
//.resources
//	li
//		line-height: 22px
//	a
//		color: white
//		font-size: 18px
//		line-height: 24px
//		
////@import "includes"
////
////*, html, body, main, section, header, button, input, textarea, menu, nav
////	position: relative
////	box-sizing: border-box
////	margin: 0
////	padding: 0
////	outline: none
////
////html, body
////	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
////	background: white
////	color: $deep-grey
////	
////h1, h2, h3, h4, h5, h6, p, ul, li
////	margin: 0
////	padding: 0
////
////h1 
////	font-size: 3vw
////
////h2 
////	font-size: 2vw
////	
////h3 
////	font-size: 1.5vw
////	
////h4 
////	font-size: 1.15vw
////	
////h5 
////	font-size: 1vw
////	
////.fw100
////	font-weight: 100
////	
////.fw200
////	font-weight: 200
////	
////.fw400
////	font-weight: 400
////	
////.fw700
////	font-weight: 700
////	
////.uppercase
////	text-transform: uppercase
////	
////.cl-white
////	color: white
////
////.mb1
////	margin-bottom: 1vw
////
////.mt1
////	margin-top: 1vw
////	
////.left
////	text-align: left
////	
////.center
////	text-align: center
////	
////.right
////	text-align: right
////	
////.bold
////	font-weight: 700
////	
////.width100vw
////	width: 100vw
////	
////.height100vh
////	height: 100vh
////
////.width100pct
////	width: 100%
////
////.height100pct
////	height: 100%
////	
////.ovf-hidden
////	overflow: hidden
////	
////.ovf-auto
////	overflow: auto
////
//////menu 
//////	position: absolute
//////	top: 0
//////	left: -$full-menu-width
//////	height: 100vh
//////	width: $outer-menu-width
//////	transition: left 0.3s
//////	background-color: white
//////	padding: 2vw 20px 2vw 2vw
////	
////.menu-sled
////	padding-right: 1.5vw
////
////	
////.chapter
////	display: flex
////	@include menu-item
////	transition: background 0.3s
////
////	&.current
////		background: $deep-grey
////		color: white
////
////
////	.label
////		position: relative
////		display: flex
////		width: $inner-menu-width
////		justify-content: flex-start
////		align-items: center
////		
////	.text-container
////		display: flex
////		width: 100%
////		padding: 0.5vw
////		
////	.chapter-num
////		display: inline-block
////		margin-right: 0.5vw
////		width: 2vw
////		text-align: right
////		
////	.chapter-name
////		width: calc(100% - 2vw)
////		
////		
////	.elevator
////		flex: 1
////		display: flex
////		flex-direction: column
////		border-left: 1px solid black
////	
////	a
////		width: 100%
////		display: flex
////		justify-content: center
////		align-items: center
////		min-height: 3vw
////		text-decoration: none
////		background: transparent
////		transition: background 0.3s
////		
////		&:before, &:after
////			transition: background 0.3s, border-right-color 0.3s, color 0.3s
////		
////		&:before
////			content: ''
////			display: block
////
////		&:hover
////			//background: $deep-grey
////
////			&:before
////				background: $deep-grey
////
////			&:after
////				border-right-color: $deep-grey
////				color: $deep-grey
////	
////	.content
////		border-bottom: 1px solid $deep-grey
////		
////		&:before
////			width: 1.25vw
////			height: 1vw
////			background: $light-grey
////			padding: 0
////			border-radius: 4px
////			margin-right: -0.08vw
////			
////		&:after
////			content: ''
////			width: 0
////			height: 0
////			border-style: solid
////			border-width: 0.5vw 0.5vw 0.5vw 0
////			border-color: transparent $light-grey transparent transparent
////			margin-left: -0.08vw
////
////	.lab:after
////		content: '{ }'
////		color: $light-grey
////			
////	&.current a
////		background: $light-grey
////		
////		&:after
////			color: white
////		
////		&.selected
////			box-shadow: inset 0 0 5px black
////				
////		&.content:before
////			background: white
////		
////		&.content:after
////			border-right-color: white
////			
////	
////.expander
////	position: absolute
////	cursor: pointer
////	background: #222
////	transition: 0.6s
////	z-index: 1
////		
////.show-menu
////	top: 0
////	right: 0
////	width: 20px
////	height: 100%
////	border: 0
////
////
////	&:after
////		content: ''
////		position: absolute
////		top: 50%
////		left: 25%
////		width: 12px
////		height: 12px
////		border-top: 2px solid white
////		border-right: 2px solid white
////		transform: translate(-50%, -50%) rotateZ(45deg)
////		
////.wrapper
////	position: absolute
////	top: 0
////	left: 20px
////	width: calc(100vw - 20px)
////	height: 200vh
////	transition: 0.3s ease-out
////	overflow: hidden
////	
////section
////	position: relative
////	width: 100%
////	height: 50%
////	overflow: hidden
////	transition: height 0.3s
////	
////.lecture
////	background: black
////	
////.show-lab
////	bottom: 0
////	left: 0
////	width: 100%
////	height: 20px
////	border: 0
////
////	&:after
////		content: ''
////		position: absolute
////		top: 75%
////		left: 50%
////		width: 12px
////		height: 12px
////		border-top: 2px solid white
////		border-left: 2px solid white
////		transform: translate(-50%, -50%) rotateZ(45deg)
////
////.menuOpen
////	menu
////		left: 0
////
////	.show-menu
////		transform: scaleX(-1)
////		
////	.wrapper
////		width: calc(100vw - #{$full-menu-width} - 20px)
////		left: $outer-menu-width
////
////.labOpen
////	.wrapper
////		top: calc(-100% + 20px)
////		
////	.show-lab
////		transform: scaleY(-1)
////	
////.lab > div
////	position: absolute
////	top: 0
////	height: 100%
////	
////.practicum
////	left: 0
////	width: 30%
////	padding: 3vw
////	background: $medium-grey
////	overflow: auto
////	color: white
////	
////	h4 + h4
////		margin-top: 1vw
////		
////	i
////		font-size: 0.8em
////	
////code
////	display: inline-block
////	padding: 0 0.5vw
////	background: $deep-grey
////	color: white
////	font-size: 1vw
////	
////ul
////	margin-top: 2vw
////	
////li
////	margin: 1vw
////	font-size: 1vw
////	font-weight: 300
////	
////.links a
////	color: white
////	
////.flems
////	left: 30%
////	width: 70%
////	background: white
////
////	iframe
////		position: absolute
////		top: 0
////		left: 0
////		width: 100%
////		height: calc(100% - 20px)
////		border: 0
////		
////.sandboxes
////	h5
////		margin: 2vw 0 1vw
////		
////	h4
////		@include menu-item
////		
////		&.current
////			background: $light-green
////			color: $deep-grey
////		
////		a
////			display: inline-block
////			color: inherit
////			text-decoration: none
////			padding: 0.5vw
////			width: 100%
////			height: 100%
////
////
////
////#welcome
////	position: absolute
////	top: 0
////	left: 0
////	width: 100%
////	height: 100%
////	display: flex
////	justify-content: center
////	align-items: center
////	background: white
////		
////.logo
////	font-family: "Times New Roman", serif
////	font-size: 8vw
////	white-space: nowrap
////	
////.menu-logo
////	font-family: "Times New Roman", serif
////	font-size: 1.5vw
////	white-space: nowrap
////	width: 100%
////	text-align: center
////
//
//.enter 
//	animation: fade-in 1s forwards
//
//.selector-enter
//	animation: fade-in 300ms forwards
//
//.selector-exit
//	animation: fade-out 300ms forwards
//
//
//@keyframes fade-in
//	from 
//		opacity: 0
//
//	to
//		opacity: 1
//
//.exit 
//	animation: fade-out 1s forwards
//
//@keyframes fade-out 
//	from
//		opacity: 1
//
//	to
//		opacity: 0
////
////
////
//#videoContainer
//	position: relative
//	width: 100%
//	max-width: 100%
//	height: calc(100% - 20px)
//	opacity: 0
//
//	iframe, object, embed
//		position: absolute
//		top: 3vw
//		left: 3vw
//		width: calc(100% - 6vw)
//		height: calc(100% - 6vw)
////
////#mobile
////	position: fixed
////	top: 0
////	left: 0
////	width: 100vw
////	height: 100vh
////	background: $deep-grey
////	color: white
////	z-index: 10
////	display: none
////	flex-direction: column
////	justify-content: center
////	align-items: center
////	
////	& > *
////		max-width: 80%
////		text-align: center
////
////	
////@media screen and (max-width: 799px)
////	#mobile
////		display: flex
////		
////		a
////			color: white
//
//// TODO: circle the menu button